/* global and convenient styles */
*
{
   box-sizing:       border-box;                 /* */
}

body
{
/* background-color: hsl(0, 0%, 85%);            /* */
   line-height:      1.6;                        /* */
}

a
{
   text-decoration: none;                        /* */
}
a, a:visited
{
   color: inherit;                               /* */
}
a:hover
{
/* text-decoration: underline;                   /* */
   color:           hsl(315, 100%, 50%);         /* */
}

.center { text-align: center; }                  /* */
.nowrap { white-space: nowrap; }                 /* */
/* end global and convenient styles */

/* copyright style */
.jcr-copy
{
   border-top: hsl(0, 0%, 20%) thin solid;       /* */
   color:      hsl(0, 0%, 20%);                  /* */
   font-size:  0.9rem;                           /* */
   text-align: right;                            /* */
   margin:     1rem 0.5rem;                      /* */
   padding:    0.5rem;                           /* */
}
.jcr-copy::before { content: '\00a9'; }
.jcr-copy::after  { content: ' jcr'; }
/* end copyright style */
