.jcr-copy
{
   border-top: hsl(0, 0%, 50%) thin solid;       /* */
   color:      hsl(0, 0%, 50%);                  /* */
   font-size:  0.9rem;                           /* */
   text-align: right;                            /* */
   margin:     1rem 0.5rem;                      /* */
   padding:    0.5rem;                           /* */
}
.jcr-copy::before { content: '\00a9'; }
.jcr-copy::after  { content: ' jcr'; }
